body {
    background-color: #f8f9fa;
    padding-top: 40px;
  }
  
  #mainWrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  textarea {
    height: 300px;
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
    word-wrap: normal;
    overflow-wrap: normal;
    overflow-x: scroll;
  }

  textarea.form-control {
    height: 300px;
  }
  
  .footer {
    font-size: 13px;
  }
  
  #button_wrapper {
    text-align: right;
    padding-top: 18px;
  }
  